<div class="govuk-width-container">
    
    <h2 class="govuk-heading-s">Forgot Password</h2>
    <h2 class="govuk-heading-s">
        Please check your email to reset your password.
    </h2>
    <hr />
    <div class="govuk-grid-row">
        <div class="col-md-8">
            <form method="post" class="form-horizontal" action="/ForgotPassword">
                <div class="govuk-error-message validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="govuk-form-group">
                    <label class="col-md-4 govuk-label" for="Email">Email</label>
                    <div class="col-md-9">
                        <input class="govuk-input" type="text" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" value="">
                    </div>
                </div>

                <div class="govuk-form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="govuk-button">Submit</button>
                    </div>
                </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AAEptDhEgpIjZWAJFA1UL3PndWYNJiqNOZMlc1QZryP_wxbfe8k1P19Q4X9CZCmfX5K3Eux0CQJOldjzAe5H-X4y-8LWAfF8teRYFjR6JO5FwtTTTINVJSlI-QcbPq7N-IPwIXGygSEONY-xCS97TA">
            </form>
        </div>
    </div>





</div>